* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
	display: grid;
	place-content: center;
	margin-top: 10px;
}


.hidden {
	display: none;
}


h1 {
	font-size: 4rem;
}

.url {
	font-size: 2rem;
	margin-right: 10px;
}

#videoUrl {
	padding: 5px;
	width: 300px;
}

.format {
	font-size: 2rem;
	margin-right: 10px;
}

select {
	padding: 5px;
}


.button {
	padding: 5px;
	background-color: black;
	color: white;
	font-weight: 800;
	border: none;
	margin-bottom: 10px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	cursor: pointer;
}
